body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 60%;  /* You can adjust this width as necessary */
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.links {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
    margin: 10px;
    font-size: 18px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

form {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="text"], input[type="number"] {
    width: 80%;  /* Adjust this percentage to make input fields narrower */
    padding: 8px;
    margin: 5px 0;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
